
@{
    ViewData["Title"] = "AddTask";
}

<h2>AddTask</h2>



    <p>Please Enter Task Information Below</p>
    <input type="text" name="TaskDescription" placeholder="Task Description" />
    <input type="date"name="DueDate" placeholder="Due Date" />
    Check if complete<input type="checkbox" name="TaskStatus" value="" />
    <input type="submit" value="Add Task!" />



