
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>


@{ 
    <input type="text"  placeholder="Email" name="email"/>
    <input type="password"  placeholder="Password" name="password"/>
    <input type="submit" value="Login" />
}
